[mysqld]
# ZABBIX specific settings and tuning

#skip_name_resolve
log-slave-updates
default-storage-engine          = InnoDB
innodb                          = FORCE
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 16G           # 50-75% of total RAM
innodb_buffer_pool_instances    = 4            # For MySQL 5.5 - 4, for 5.6+ - 8
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_io_capacity              = 700           # HDD disks 500-800,    SSD disks - 2000
query-cache-size                = 0

server_id                       = {{ server_id }}          
report_host                     = "{{ bdd_hostname }}"
log_bin                         = "{{ bdd_hostname }}-bin"
binlog_format                   = mixed
binlog_cache_size               = 64M
max_binlog_size                 = 1G
expire_logs_days                = 7
sync-binlog                     = 0
binlog_checksum                 = crc32
max_allowed_packet	            = 500M
