<VirtualHost *:80>
  ServerName {{ zabbix_apache_servername }}

  ## Vhost docroot
  DocumentRoot "/usr/share/zabbix"

{% set directory_paths = ['/usr/share/zabbix/conf', '/usr/share/zabbix/app', '/usr/share/zabbix/include', '/usr/share/zabbix/local'] %}

  <Directory "/usr/share/zabbix">
  {% if apache_version|string() == '2.4' %}
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  {% else %}
    AllowOverride None
    Order Allow,Deny
    Allow from all
  {% endif %}
  </Directory>


 {% for my_path in directory_paths %}
  <Directory "{{ my_path }}">
  {% if apache_version|string() == '2.4' %}
    Require all denied
  {% else %}
    AllowOverride None
    Order Deny,Allow
    Deny from all
  {% endif %}
  </Directory>

 {% endfor %}

  ## Logging
  ErrorLog "/var/log/httpd/{{ zabbix_apache_servername }}_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/{{ zabbix_apache_servername }}_access.log" combined

  ## Rewrite rules
  RewriteEngine On
  RewriteRule ^$ /index.php [L]

{% if zabbix_apache_include_custom_fragment | default(true) %}
  ## Custom fragment
  {% if zabbix_php_fpm %}
  ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/usr/share/zabbix/$1
  ProxyTimeout 1800
  {% else %}
  php_value max_execution_time {{ zabbix_web_max_execution_time | default('300') }}
  php_value memory_limit {{ zabbix_web_memory_limit | default('128M') }}
  php_value post_max_size {{ zabbix_web_post_max_size | default('16M') }}
  php_value upload_max_filesize {{ zabbix_web_upload_max_filesize | default('2M') }}
  php_value max_input_time {{ zabbix_web_max_input_time | default('300') }}
  # Set correct timezone.
  php_value date.timezone {{ zabbix_timezone }}
  {% endif %}
{% endif %}

</VirtualHost>

{% if zabbix_apache_tls %}
<VirtualHost _default_:443>
  ServerName {{ zabbix_https_servername }}
  {% for alias in zabbix_url_aliases %}
  ServerAlias {{ alias }}
  {% endfor %}
  Header set Strict-Transport-Security "max-age={{max_age_transport_security}}"
  ## Vhost docroot
  DocumentRoot "/usr/share/zabbix"
  SSLEngine on
{% if apache_version == "2.4" %}
  SSLCompression off
{% endif %}
  SSLCertificateFile {{ zabbix_apache_tls_crt }}
  SSLCertificateKeyFile {{ zabbix_apache_tls_key }}
{% if zabbix_apache_tls_chain %}
  SSLCertificateChainFile {{ zabbix_apache_tls_chain }}
{% endif %}

{% set directory_paths = ['/usr/share/zabbix/conf', '/usr/share/zabbix/app', '/usr/share/zabbix/include', '/usr/share/zabbix/local'] %}

  <Directory "/usr/share/zabbix">
  {% if apache_version|string() == '2.4' %}
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  {% else %}
    AllowOverride None
    Order Allow,Deny
    Allow from all
  {% endif %}
  </Directory>

{% for my_path in directory_paths %}
  <Directory "{{ my_path }}">
  {% if apache_version|string() == '2.4' %}
    Require all granted
  {% else %}
    AllowOverride None
    Order Deny,Allow
    Deny from all
  {% endif %}
  </Directory>

{% endfor %}
  ## Logging
  ErrorLog "/var/log/httpd/{{ zabbix_https_servername }}_tls_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/{{ zabbix_https_servername }}_tls_access.log" combined

  ## Rewrite rules
  RewriteEngine On
  RewriteRule ^$ /index.php [L]

{% if zabbix_apache_include_custom_fragment | default(true) %}
  ## Custom fragment
  {% if zabbix_php_fpm %}
  ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/usr/share/zabbix/$1
  ProxyTimeout 1800
  {% else %}
  php_value max_execution_time {{ zabbix_web_max_execution_time | default('300') }}
  php_value memory_limit {{ zabbix_web_memory_limit | default('128M') }}
  php_value post_max_size {{ zabbix_web_post_max_size | default('16M') }}
  php_value upload_max_filesize {{ zabbix_web_upload_max_filesize | default('2M') }}
  php_value max_input_time {{ zabbix_web_max_input_time | default('300') }}
  # Set correct timezone.
  php_value date.timezone {{ zabbix_timezone }}
  {% endif %}
{% endif %}
</VirtualHost>
{% endif %}